html, body {
    /*overflow: hidden; !* don't do scrollbars *!*/
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    /*font-size: 14px;*/
}
p, a, a>span, a>i {
    font-size: 1rem !important;
}

.sidebar-heading {
    font-size: .85rem !important;
}

#calendar-container {
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    /*bottom: 0;*/
    height: 715px;
}

.fc-header-toolbar {
    /*
    the calendar will be butting up against the edges,
    but let's scoot in the header's buttons
    */
    padding-top: 1em;
    padding-left: 1em;
    padding-right: 1em;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    padding: 20px;
    width: 60%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Modal Header */
.modal-header {
    padding: 2px 16px;
    background-color: #fefefe;
}

/* Modal Body */
.modal-body {padding: 2px 16px;}

/* Modal Footer */
.modal-footer {
    padding: 2px 16px;
    background-color: #fefefe;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 25% auto;
    padding: 0;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s;
    width: 400px;
    z-index: 2;
}

/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

.btn_modal{
    width: 48px;
}

@media (min-width: 768px) {
    .sidebar {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        height: 100vh;
    }
}

@media (max-width: 768px) {
    .sidebar {
        position: fixed;
        top: 0;
        height: 100vh;
        padding-top: 5.875rem;
        box-shadow: 0.5rem 0 1rem rgba(0,0,0,.25) !important;
    }
}

.topbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4;
}

#content-wrapper {
    padding-top: 5.875rem;
}

#collapseCalendars {
    z-index: 3;
}

#accordionSidebar {
    z-index: 4;
}

.shadow {
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.25) !important
}

#wrapper {
    min-height: 100vh;
}

.alert {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}