/.idea/.gitignore
/.idea/.name
/.idea/jsLibraryMappings.xml
/.idea/modules.xml
/.idea/dictionaries/noero.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/sshConfigs.xml
/.idea/TPL.iml
/.idea/vcs.xml
/.idea/deployment.xml
/.idea/php.xml
/.idea/webServers.xml
